apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-api-nginx
  namespace: webapp
data:
  api.conf: |
    server {
        listen 8002 default_server;
        listen [::]:8002 default_server;
        server_name localhost;
        root /var/www/api;
        client_max_body_size 4G;

        access_log stdout;
        error_log  stderr;

        location /static/ {
            alias /var/www/api/;
            autoindex on;
        }
    }
