
apiVersion: v1
kind: Secret
metadata:
  name: ssl-cert
  namespace: webapp
data:
  tls.crt: "{{ lookup('file', 'files/reduce_isis_cclrc_ac_uk-cert.pem') | b64encode }}"
  tls.key: "{{ lookup('file', 'files/reduce.isis.cclrc.ac.uk.key') | b64encode }}"
type: kubernetes.io/tls