apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: data-ready
  namespace: {{ strimzi_kafka_namespace }}
  labels:
    strimzi.io/cluster: "{{ strimzi_kafka_cluster_name }}"
spec:
  topicName: data_ready
  partitions: 1
  replicas: 3
