apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaUser
metadata:
  name: autoreduce-user
  namespace: {{ strimzi_kafka_namespace }}
  labels:
    strimzi.io/cluster: {{ strimzi_kafka_cluster_name }}
spec:
  authentication:
    type: scram-sha-512
  authorization:
    type: simple
    acls:
      - resource:
          type: topic
          name: data_ready
          patternType: literal
        operation: All
        host: "*"
      - resource:
          type: group
          name: data_ready-group
          patternType: literal
        operation: All
        host: "*"
