apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "mysql-secret"
  namespace: "webapp"
data:
  DATABASE_ROOT_PASSWORD: "{{ vault_mysql_root_password | b64encode }}"
  DATABASE_NAME: "autoreduction"
  DATABASE_USERNAME: "{{ vault_db_username | b64encode }}"
  DATABASE_USER_PASSWORD: "{{ vault_mysql_user_password | b64encode }}"
  DATABASE_HOST: "{{ vault_db_host | b64encode }}"
