apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: cifs-csi-credentials
  namespace: queue-processor
data:
  username: "{{ vault_archive_username | b64encode }}"
  password: "{{ vault_archive_password | b64encode }}"
  domain: "{{ vault_archive_domain | b64encode }}"