apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "qp-secret"
  namespace: "queue-processor"
data:
  DJANGO_SECRET_KEY: "{{ vault_webapp_secret_key | b64encode }}"
  DATABASE_USERNAME: "{{ vault_db_username | b64encode }}"
  DATABASE_PASSWORD: "{{ vault_mysql_user_password | b64encode }}"
  ICAT_HOST: "{{ vault_icat_host | b64encode }}"
  ICAT_USER: "{{ vault_icat_username | b64encode }}"
  ICAT_PASSWORD: "{{ vault_icat_password | b64encode }}"
  SFTP_USERNAME: "{{ vault_sftp_username | b64encode }}"
  SFTP_PASSWORD: "{{ vault_sftp_password | b64encode }}"
  SFTP_HOST: "{{ vault_sftp_host | b64encode }}"
  SFTP_PORT: "{{ vault_sftp_port | b64encode }}"