apiVersion: v1
kind: ConfigMap
metadata:
  name: run-detection-config
  namespace: run-detection
data:
  AUTOREDUCTION_PRODUCTION: "1"
  AUTOREDUCE_API_URL: "http://rest-api.webapp.svc.cluster.local:8001/api"
  AUTOREDUCTION_USERDIR: "/run-detection"
